<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'front_page', media: 'all' %>

  </head>

  <body>


  <!-- Carousel
   ================================================== -->
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>

     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <%= image_tag "subway.jpg" , class:"first-slide"%>
         <div class="container">
           <div class="carousel-caption">
            <h1>Meet in the Middle</h1>
            <p>Find a halfway point between two or more addresses and to help you plan your next meeting.</p>
            <p><%= link_to 'Try Now', home_index_path, role:"button", class:"btn btn-lg btn-primary" %></p>
           </div>
         </div>
       </div>

       <div class="item">
         <%= image_tag "bike.jpg" , class:"second-slide"%>
         <div class="container">
           <div class="carousel-caption">
             <h1>Save time</h1>
             <p>Never argue about where to meet again!</p>
             <p><%= link_to 'Sign Up', new_user_path, role:"button", class:"btn btn-lg btn-primary" %></p>
           </div>
         </div>
       </div>

       <div class="item">
         <%= image_tag "city.jpeg" , class:"third-slide"%>
         <div class="container">
           <div class="carousel-caption">
             <h1>Discover</h1>
             <p>Find new spots in your city with the help of our app, regardless of where you and your friends are located.</p>
             <p><%= link_to 'Log In', login_path, role:"button", class:"btn btn-lg btn-primary" %></p>
           </div>
         </div>
       </div>
     </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>


   <section class="row about-us about-us-container">
   <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Meet in the Middle. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">This app allows anyone to quickly decide on a meeting spot by calculating the central location point of you and your friends. From the middle point, it will give you suggestions based on what type of activity you want to do. Be sure to sign up for free, to use the full featured web app.</p>
        </div>
        <div class="col-md-5">

          <%= image_tag "map.png" , class:"featurette-image img-responsive center-block"%>
        </div>
      </div>
  </div>
</section>


  <div class="container marketing">

      <!-- START THE FEATURETTES -->


      <!-- Three columns of text below the carousel -->
      <div class="row">
        <h2 class="featurette-heading" id="team-heading">Our Amazing Team</h2>
        <div class="col-sm-3">
          <div class="team-member">
            <%= image_tag "albert_crop.png" , class:"img-circle"%>
            <h2 class="name">Albert Burchi</h2>
            <div class="social-media">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/albert-burchi-47607796/" class="fa fa-linkedin"></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/AdditionalTesting" class="fa fa-github"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="team-member">
            <%= image_tag "eiji_2.jpeg" , class:"img-circle"%>
            <h2 class="name">Eiji Mine</h2>
            <div class="social-media">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/eiji-mine-3271ba13/" class="fa fa-linkedin"></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/eijimine" class="fa fa-github"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="team-member">
            <%= image_tag "gina_crop.png" , class:"img-circle"%>
            <h2 class="name">Gina Son</h2>
            <div class="social-media">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/gina-son-7268b8ba/" class="fa fa-linkedin"></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/ginason" class="fa fa-github"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="team-member">
            <%= image_tag "stan_crop.png" , class:"img-circle"%>
            <h2 class="name">Stanley Ma</h2>
            <div class="social-media">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/stanleyma89/" class="fa fa-linkedin"></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://github.com/stanleyma89" class="fa fa-github"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <% if false %>
        <div class="col-lg-4">
          <%= image_tag "stein.jpg" , class:"img-circle"%>
          <h2>Stein Tan</h2>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/steintan/" class="fa fa-linkedin"></a>
            <a href="https://github.com/stein328i" class="fa fa-github"></a>
          </div>
        </div>
        <% end %>
      </div>

      <hr class="featurette-divider">

    </div>
  </body>
</html>
