<%= form_tag sessions_path, :id => 'login', :method => :post do %>

<div class="form">


  <div class="group">
    <%= text_field_tag :email %>
    <%= label_tag :email %>
    <span class="highlight"></span>
    <span class="bar"></span>
  </div>

  <div class="group">
    <%= password_field_tag :password %>
    <%= label_tag :password %>
    <span class="highlight"></span>
    <span class="bar"></span>
  </div>

  <div class="group">
    <%= check_box_tag :remember_me %><br />
    <%= label_tag :remember_me %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
  <%= link_to 'Back',  home_index_url %>
<% end %>

</div>
