<%= stylesheet_link_tag    'users', media: 'all' %>
<h1>Sign Up!</h1>

<% if @user.errors.any?  %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
    <li><%= m %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>

  <div class="group">
    <%=f.label :first_name %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <%=f.text_field :first_name, required: true %>
  </div>

  <div class="group">
    <%=f.label :last_name %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <%=f.text_field :last_name, required: true %>
  </div>

  <div class="group">
    <%=f.label :email %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <%=f.text_field :email, required: true %>
  </div>

  <div class="group">
    <%=f.label :password_field %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <%=f.password_field :password, required: true %>
  </div>

  <div class="group">
    <%=f.label :password_confirmation %>
    <span class="highlight"></span>
    <span class="bar"></span>
    <%=f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit 'Sign up!' %>

<% end %>
