<!DOCTYPE html>
<html>
  <head>

    <title>MeetInTheMiddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Pacifico" rel="stylesheet">
  </head>

  <body>

    <!-- <div class="navbar-wrapper"> -->
      <!-- <div class="container"> -->

        <nav class="navbar navbar-default navbar-static-top nav-pad">
          <div class="container-fluid">
            <div class="navbar-header nav-logo">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to 'Meet in the Middle', home_index_path, class:"navbar-brand" %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if session[:user_id] != nil %>
                  <li><%= link_to 'Hi ' + current_user.first_name + ',', home_index_path %></li>
                  <li class="active"><%= link_to 'Home', home_index_path %></li>
                  <li><%= link_to 'Back to Map', map_index_path %></li>
                  <li><%= link_to "Logout", :logout%></li>
                <% else %>
                  <li><%= link_to 'Try Now', map_index_path %></li>
                  <li><%= link_to 'Sign Up', new_user_path %></li>
                  <li><%= link_to 'Log In', login_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

      <!-- </div> -->
    <!-- </div> -->

    <% flash.each do |key, message| %>
      <div class="flash"<%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwrmLv6COx0ygAhr9pKrEbDRcaoFQORyM&callback=initMap&libraries=geometry,places"></script>


    <div class="container marketing">
      <footer>
        <p>&copy; 2017 Meet in the Middle.</p>
      </footer>
    </div>

  </body>

</html>
